<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<script>
    const encodeTitle = encodeURIComponent(document.title)
</script>
<header>
    <a href="/">📚</a>
    <h4>TITLE: <%= title %> </h4>
    <h4>AUTHOR: <%= author %></h4>
</header>
<div id="menu">
    <h4 style="letter-spacing: 2px">MENU</h4>
    <ul style="margin-left: 2rem" id="menu-list">
        <% flows.forEach((flow,index)=> { %>
            <li style="margin-top: 0.5rem;">
                <a href=<%= "/htmls/" + encodeURIComponent(title) + '/'+flow.id %> idx=<%=index%>>
                    <%= (flow.title || flow.id.slice(3))%>
                </a>
            </li>
        <% }) %>
    </ul>
</div>


</body>
</html>



