<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="nav">
        <a title="hot key: left arrow" href=<%= '/ing/' + title + '/' + prev.index +'/' + prev.src %>>Prev</a>
        <a href="/" title="go home">📚</a>
        <a title="hot key: right arrow" href=<%= '/ing/' + title + '/' + next.index + '/' + next.src %> >Next</a>
    </div>
    <div class="chapter-style">
        <button id="style-set-btn">⚙️</button>
        <button id="theme-set-btn">☀️</button>
        <div id="style-controller" class="hide">
            <div>
                <label for="font-select">Choose a font:</label>
                <select name="font-family" id="font-select">
                    <option value="SimSun">宋体</option>
                    <option value="FangSong">仿宋</option>
                    <option value="STZhongsong">华文中宋</option>
                    <option value="SimHei">黑体</option>
                </select>
            </div>
            <div>
                <label for="size-select">Choose font size:</label>
                <select name="font-size" id="size-select">
                    <option value="0.5">0.5</option>
                    <option value="0.75">0.75</option>
                    <option value="1">1</option>
                    <option value="1.25">1.25</option>
                    <option value="1.5">1.5</option>
                    <option value="1.75">1.75</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div>
                <label for="line-height-select">Choose a line-height:</label>
                <select name="line-height" id="line-height-select">
                    <option value="1.15">1.15</option>
                    <option value="1.25">1.2</option>
                    <option value="1.5">1.5</option>
                    <option value="1.75">1.75</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
    </div>
</header>
<div id="chapter-content" >
    <%- content %>
</div>

<% if (title) { %>
    <script>
        localStorage.setItem('title', "<%= title %>");
        const prevLink = "<%= '/ing/' + title + '/' +  prev.index + '/' + prev.src %>" ;
        const nextLink = "<%= '/ing/' + title + '/' + next.index + '/' + next.src %>";
        window.addEventListener('keydown',(e)=>{
            if(e.code === 'ArrowRight'){
                window.location.replace(nextLink);
            } else if(e.code === 'ArrowLeft'){
                window.location.replace(prevLink);
            }
        })
    </script>
<% } %>

<script>
    // theme controller;
    const isEnglish = localStorage.getItem('english') === '1';
    if(isEnglish) {
        document.body.style.fontFamily = 'Roboto sans-serif';
        document.body.style.fontSize = '1.15rem';
    }
    const isLight = localStorage.getItem('style') === 'light';
    const themeBtn = document.getElementById('theme-set-btn');
    window.scrollTo(0,0);

    themeBtn.addEventListener('click',()=>{
        document.body.classList.toggle('light');
        handleLight(document.body.classList.contains('light'));
    });

    const handleLight = (light) => {
        if(light) {
            document.body.classList.add('light')
            localStorage.setItem('style','light');
            themeBtn.innerHTML = '🌙'
        } else {
            document.body.classList.contains('light') &&document.body.classList.remove('light')
            themeBtn.innerHTML = '☀️';
            localStorage.setItem('style','');
        }
    }

    handleLight(isLight);


    const styleEl = document.getElementById('style-controller');
    const styleSetBtn = document.getElementById('style-set-btn');
    styleSetBtn.addEventListener('click',()=> {
        styleEl.classList.toggle('hide');
    })

    const container = document.getElementById('chapter-content');
    const fontEl = document.getElementById('font-select');
    const sizeEl = document.getElementById('size-select');
    const lineHeightEl = document.getElementById('line-height-select');

    fontEl.addEventListener('change', e => {
        container.style.fontFamily = e.target.value;
    })
    sizeEl.addEventListener('change', e => {
        const paras = container.querySelectorAll('p');
        paras.forEach(p =>{
            p.style.fontSize = e.target.value + 'rem';

        })
    })
    lineHeightEl.addEventListener('change', e=> {
        const ps = container.querySelectorAll('p')
        ps.forEach(p => {
            p.style.lineHeight = e.target.value;
        })
    });

    // TODO click other area and close the style controller!

    document.addEventListener('click', (event) => {
        let isSelf = styleEl.contains(event.target)  // 这个是自己的区域
        // if(!isSelf && !styleEl.classList.contains('hide')) {
        //     styleEl.classList.add('hide')
        // } else {
        //     console.log(21)
        // }
    })

</script>
<script>
    const handleSelect = () => {
        if (!document.getSelection().toString().trim()) return;
        const selected_txt_El = document.getSelection().anchorNode.parentElement;
        const selected_txt = document.getSelection().toString();
        const whole_txt = selected_txt_El.innerText;
        const segments = whole_txt.split(selected_txt);
        const newArray = [segments[0], selected_txt, segments[1]];
        splitEl(selected_txt_El, newArray);
        storeTxts(selected_txt);
    };

    const splitEl = (el, txts) => {
        el.innerHTML = "";
        const start = document.createElement("span");
        start.innerHTML = txts[0] ?? "";
        const the_selected = document.createElement("span");
        the_selected.innerHTML = txts[1] ?? "";
        the_selected.classList.add("selected");
        const end = document.createElement("span");
        end.innerHTML = txts[2] ?? "";
        el.append(start, the_selected, end);
    };

    const storeTxts = async (txt) => {
        const titleValue = localStorage.getItem("title");
        const formData = new FormData();
        formData.append("title", titleValue);
        formData.append("content", txt);

        const res = await fetch(`/notes`, {
            method: "post",
            body: formData,
        });
        console.log(res);
    };
    document.addEventListener("mouseup", handleSelect);
</script>
<script>
    const bookName = document.title
    const imgs = document.querySelectorAll('img');
    imgs.forEach(img => {
        const originSrc = img.getAttribute('src');
        const origins = originSrc.split('/');
        const len = origins.length;
        const idSrc = origins[len - 1];
        img.setAttribute('src',`/image/${bookName}/${idSrc}`);
    })

</script>

<style>
    header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5px;
        background-color: #333;
    }
    .light header {
        background-color: var(--dark-theme-clr);
        color: var(--dark-theme-bg);
    }
    .selected {
        text-decoration: underline;
        text-decoration-color: #F3B664;
    }
    .light .selected {
        text-decoration: none;
        background-color: #F3B664;
    }
    img {
        max-width: calc(100vw - 2rem);
    }
    .nav {
        display: flex;
        gap: 5px;
    }
</style>
</body>
</html>