<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <a href="/" id="home_direct">📚</a>
    <table>
        <thead>
        <th colspan="2"><%= title %></th>

        </thead>
        <tbody>

        <tr>
            <td>Author</td>
            <td><%= creator %></td>
        </tr>
        <tr>
            <td>Publisher</td>
            <td><%= publisher %></td>
        </tr>
        <tr>
            <td>Language</td>
            <td id="language"><%= language %></td>
        </tr>
        </tbody>
    </table>
</header>
<main id="menu">
    <ul>
        <% menu.forEach(function(m,idx) { %>
            <li>
                <a href=<%= '/ing/' + localName + '/' + idx + '/' + m.src  %> >
                   <span><%= idx + 1%></span> <%= m.text %>
                </a>
        <% }); %>
    </ul>
</main>
<script>
    const isEnglish = document.getElementById('language');
    if(isEnglish.innerHTML === 'en-US'){
        localStorage.setItem('english', '1');
    } else {
        localStorage.setItem('english', '0')
    }
</script>
</body>
</html>



