<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <a href="/" id="home_direct">📚</a>
    <table>
        <thead>
        <th colspan="2"><%= title %></th>

        </thead>
        <tbody>

        <tr>
            <td>Author</td>
            <td><%= creator %></td>
        </tr>
        <tr>
            <td>Publisher</td>
            <td><%= publisher %></td>
        </tr>
        </tbody>
    </table>
</header>
<main id="menu">
    <ul>
        <% menu.forEach(function(m,idx) { %>
            <li>
                <a href=<%= '/ing/' + localName + '/' +m.src %> >
                   <span><%= idx + 1%>  </span> <%= m.text %>
                </a>
        <% }); %>
    </ul>

</main>
</body>
</html>



